

/* Section 1 */

.Section1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.Header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 40px;
}

.HeaderLogo {
    padding-left: 20px;
    font-size: 24px;
    color: #f9faf8
}

.HeaderLinks {
    display: flex;
    gap: 20px;
}

.HeaderLinks, .DescriptionText {
    font-size: 18px;
    color: #e5e7eb;
}

.HeaderLinkThree {
    padding-right: 20px;
}

.Content {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

.Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 400px;
}

.InformationHeader {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.Button {
    align-self: center;
    padding: 5px 8px;
    margin: 5px;
    color: #f9faf8;
    background-color: #3882f6;
}


/* Section 2 */


.Section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.S2Container {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.RandoInfoTitle {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 25px;
}

.EmptyDiv {
    border: 5px solid #3882f6;
    border-radius: 20px;
    height: 150px;
    width: 150px;
}

.Subtext {
    width: 150px;
    text-align: center;
    color: #1f2937;
    padding: 5px;
}


/* Section 3 */


.Section3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    gap: 50px;
    align-items: center;
}

.S3Content {
    display: flex;
    flex-direction: column;
}

.QuoteText {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 750px;
    text-align: left;
}

.AuthorText {
    align-self: flex-end;
}




.Section3 {
    border: 1px solid turquoise;
}
.S3Content {
    border: 1px solid red;
}
.QuoteText, .AuthorText {
    border: 1px solid black;
}
/*

.Section1 {
    border: 1px solid black;
}

.Header, .Content {
    border: 1px solid red
}

.Text {
    border: 1px solid lightgreen;
}